.vertical-input-group .input-group:first-child:not(:last-child) {
    padding-bottom: 0;
}
.vertical-input-group .input-group:first-child:not(:last-child) * {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.vertical-input-group .input-group:last-child:not(:first-child) {
    padding-top: 0;
}
.vertical-input-group .input-group:last-child:not(:first-child) * {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	border-top: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
    padding-top: 0;
    padding-bottom: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
    border-radius: 0; 
	border-top: 0;
}